<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="in.indestructible.monoclegiraffe" android:versionCode="5" android:versionName="1.5" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="Monocle Giraffe" android:theme="@style/Theme.AppTheme" android:icon="@mipmap/ic_launcher">
		<receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
			</intent-filter>
		</receiver>
		<service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false" />
	</application>
</manifest>